body, #app, .app {
  width: 100%;
  height: 100%;
}

body .quiz .quiz-navigation, #app .quiz .quiz-navigation, .app .quiz .quiz-navigation {
  display: flex;
  flex-direction: row;
}

body .quiz .quiz-navigation .quiz-navigation-item, body .quiz .quiz-navigation button, #app .quiz .quiz-navigation .quiz-navigation-item, #app .quiz .quiz-navigation button, .app .quiz .quiz-navigation .quiz-navigation-item, .app .quiz .quiz-navigation button {
  flex: 1;
  text-align: center;
  cursor:    pointer;
}

body .quiz .quiz-navigation .quiz-navigation-item, #app .quiz .quiz-navigation .quiz-navigation-item, .app .quiz .quiz-navigation .quiz-navigation-item {
  padding: 1rem;
}

body .quiz .quiz-navigation .quiz-navigation-item:hover, #app .quiz .quiz-navigation .quiz-navigation-item:hover, .app .quiz .quiz-navigation .quiz-navigation-item:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}

body .quiz .quiz-navigation .quiz-navigation-item.selected, #app .quiz .quiz-navigation .quiz-navigation-item.selected, .app .quiz .quiz-navigation .quiz-navigation-item.selected {
  font-weight: bold;
  background-color: #f0f0f0;
}

body .quiz .question .question-text, #app .quiz .question .question-text, .app .quiz .question .question-text {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
}

body .quiz .question .answer, #app .quiz .question .answer, .app .quiz .question .answer {
  text-align: center;
  font-size: 15px;
  padding: .5rem 0;
  cursor: pointer;
}

body .quiz .question .answer:hover, #app .quiz .question .answer:hover, .app .quiz .question .answer:hover {
  background-color: #f0f0f0;
  text-decoration: underline;
}

body .quiz .question .answer.selected, #app .quiz .question .answer.selected, .app .quiz .question .answer.selected {
  background-color: #f0f0f0;
}

body .quiz .finish-button, #app .quiz .finish-button, .app .quiz .finish-button {
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  margin-top: .5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background-color: #28a745;
  color: white;
}

body .score, #app .score, .app .score {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

body .score .user-score, #app .score .user-score, .app .score .user-score {
  font-weight: bold;
  color: #28a745;
}

body .score .total-score, #app .score .total-score, .app .score .total-score {
  font-weight: bold;
  color: #007bff;
}